/* style.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 2rem 1rem;
    text-align: center;
}

h1 {
    font-size: 4rem; /* manjše in berljivo */
    margin: 0;
}

main {
    padding: 1rem;
}

p {
    line-height: 1.6;
    font-size: 1.2rem;
}
