/* style.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f07d;
    color: #333333;
    margin: 3;
    padding: 20;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 1rem;
    text-align: center;
}

h1 {
    font-size: 3rem;
}

p {
    padding: 3rem;
    line-height: 4;
}
